<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <title>myblog</title>
    <style>
    body {
    padding-bottom : 56px;            
    position : relative;
    min-height:100vh
    }
    footer {
    position: absolute;
    bottom : 0;
    width : 100%
   }
   </style>
</head>
<header>
</header>
<body>
<div>
   {% include 'blog/navbar.html' %}
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% block msg %}
            {% endblock msg %}
        </div>
    </div>
</div>

<div class="row">
     {% block side %}
     {% endblock side %}

     {% block content %}
     {% endblock content %}
</div>

<footer class=" footer bg-dark p-2 my-3" >
    <p class ="text-center text-white"> All rights reserved Blog App</p>
</footer>
<script src="{% static 'blog/js/jquerry.js' %}"></script>
<script src="{% static 'blog/js/proper.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.js' %}"></script>
    <nav class="navbar" >
        <div></div>
    </nav>
</body>
</html>
